.common {
  font-family: "American Typewriter", serif;
  font-size: 22px;
  height: 10%;
  width: 20%;
  margin: 10% auto;
}

.common button {
  font-family: "American Typewriter", serif;
  font-size: 22px;
  margin-left: 2%;
}

.common input {
  font-family: "American Typewriter", serif;
  font-size: 22px;
}
